* {
  background: rgb(162, 162, 162);
  margin: 20px auto;
  text-align: center;
}
/* .items {
  text-align: center;
} */
.images {
  display: block;
  margin: auto;
  border-radius: 50%;
}
